<!DOCTYPE html>
<html>
<head>
  <title>オフィス遠野</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="wrapper">

  <div id="header">
    <h1>オフィス遠野</h1>
  </div>

  <p><%= notice %></p>
  <p><%= alert %></p>

  <%= yield %>

</div>

</body>
</html>
