<h2>Listing users</h2>

<table>
<% @users.each do | each | %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag( each.image, :class => 'list_image' ) %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= each.name %> <%= h( "<" ) + each.email + h( ">" ) %></dt>
        <dd><%= each.location %>, <%= each.employer %></dd>
      </dl>
    </td>

  </tr>
<% end %>
</table>
